.Background {
    display: flex;
    div {
        img {
            z-index: 0;
            position: relative;
        }
    }
    img {
        position: absolute;
        height: auto;
        z-index: -1;
    }
}