<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/galerij.css">
    <title>The Skateroom</title>
</head>
<body>
    <!-- navbar -->
    <header>
        <img class="header_img" src="../img/header-0001.png" alt="header_img">
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="Aboutus.html">Aboutus</a></li>
                <li><a href="Galerij.html">Galerij</a></li>
                <li><a href="Productpagina.html">Product Pagina</a></li>
            </ul>
        </nav>
    </header>
    <!-- background design collection -->
    <div class="Background">
        <!-- background -->
        <img class="background" src="../img/Untitled-1.svg" alt="background">
    </div>

    <main>
        <!-- Andy's Galery information -->
        <div class="info">
            <img class="galerij" src="../img/Andy/warhol-sunset-orange-1300px.jpg" alt="">
            <img class="galerij deg1" src="../img/design/image3.png" alt="">
            <img class="galerij" src="../img/Andy/warhol-sunset-purple-1300px-1000x1131.jpg" alt="">
            <div class="title">
                <h2>Andy <br>Warhol</h2>
                <img class="galerij deg2" src="../img/design/image3.png" alt="">
            </div>
        </div>
        <!-- Jeff's Galery information -->
        <div class="info">
            <div class="title">
                <img class="galerij deg3" src="../img/design/image3.png" alt="">
                <h2>Jeff <br>Koons</h2>
            </div>
            <img class="galerij" src="../img/Jeff/koons-balloonvenus-1300px.jpg" alt="">
            <img class="galerij" src="../img/design/image3.png" alt="">
            <img class="galerij" src="../img/Jeff/koons-popeye-1300px.jpg" alt="">
        </div>
        <!-- Keith's Galery information -->
        <div class="info">
            <img class="galerij" src="../img/Keith/haring-manandmedusa-1300px.jpg" alt="">
            <img class="galerij deg1" src="../img/design/image3.png" alt="">
            <img class="galerij" src="../img/Keith/haring-monsters-1300px.jpg" alt="">
            <div class="title">
                <h2>Keith <br>Haring</h2>
                <img class="galerij deg2" src="../img/design/image3.png" alt="">
            </div>
        </div>
    </main>
    
    <footer>
        <img class="footer_page" src="../img/footer_page-0001.png" alt="footer_page">
    </footer>
</body>
</html>