<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/galerij.css">
    <link rel="stylesheet" href="../css/product.css">
    <title>The Skateroom</title>
</head>
<body>
    <!-- navbar -->
    <header>
        <img class="header_img" src="../img/header-0001.png" alt="header_img">
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="Aboutus.html">Aboutus</a></li>
                <li><a href="Galerij.html">Galerij</a></li>
                <li><a href="Productpagina.html">Product Pagina</a></li>
            </ul>
        </nav>
    </header>
    <!-- background design collection -->
    <div class="Background">
        <!-- background -->
        <img class="background" src="../img/backgroundproduct.jpg" alt="background">
    </div>
    

    <main>
        <!-- Andy -->
        <div class="info">
            <!-- product 1 -->
            <div class="product1">
                <div class="line1">
                    <div>
                        <img class="galerij" src="../img/Andy/Andyorangesunrise.jpg" alt="">
                        <img class="galerij" src="../img/Andy/Andyorangesunrisewall.jpg" alt="">
                    </div>
                    <h3>€ 600</h3>
                    <img class="des1" src="../img/design/image4.png" alt="">
                </div>
                <div class="line2">
                    <img class="des2" src="../img/design/image4.png" alt="">
                    <div class="text">
                        <h3>SUNSET – ORANGE, ANDY WARHOL</h3>
                        <p class="alinea1">In het begin van de jaren zestig creëerde Andy Warhol veel werken met consumentenproducten, Hollywoodsterren en een veelbesproken serie die dood en rampspoed in de Amerikaanse samenleving illustreert.
                            <br>
                            <br>Als een van de meest erkende gezichten in de hedendaagse kunst, leek het voor ons vanzelfsprekend om te proberen de visie van Andy Warhol te bestendigen door middel van onze productie.
                            <br>
                            <br>Daarom hebben we onlangs samengewerkt met de Andy Warhol Foundation for the Visual Arts om een reeks van Andy's meest iconische werken te produceren, waaronder het Sunset oranje drieluik op skateboards.</p>
                    </div>
                </div>
                <div class="line3">
                    <h2>Andy Warhol</h2>
                    <p class="alinea2">Oplage van 500

                        <br>Geproduceerd en genummerd door <br>The Skateroom in 2019
                        <br>
                        <br>Onder licentie van The Andy <br>Warhol Foundation for the Visual Arts, Inc.
                        <br>
                        <br>Sunset Triptych set van 3 <br>skateboards
                        <br>
                        <br>Elk dek meet ca. 31x8in (80x20cm)
                        <br>
                        <br>Gemaakt van 7-laags Grade A <br>Canadees esdoornhout
                        <br>
                        <br>Top-print bevat de officiële Andy <br>Warhol brand logo
                        <br>
                        <br>1 Easyfix wall mount inbegrepen <br>per deck</p>
                </div>
            </div>
            <!-- product 2 -->
            <div>
                <div class="line2">
                    <div class="text">
                        <h3>SUNSET – PURPLE, ANDY WARHOL</h3>
                        <p class="alinea1">In het begin van de jaren zestig creëerde Andy Warhol veel werken met consumentenproducten, Hollywoodsterren en een veelbesproken serie die dood en rampspoed in de Amerikaanse samenleving illustreert.
                            <br>
                            <br>Als een van de meest erkende gezichten in de hedendaagse kunst, leek het voor ons vanzelfsprekend om te proberen de visie van Andy Warhol te bestendigen door middel van onze productie. 
                            <br>
                            <br>Daarom hebben we onlangs samengewerkt met de Andy Warhol Foundation for the Visual Arts om een reeks van Andy's meest iconische werken te produceren, waaronder het Sunset oranje drieluik op skateboards.
                            Onder licentie van The Andy Warhol Foundation for the Visual Arts, Inc.</p>
                    </div>
                </div>
                <div class="line3">
                    <p class="alinea2">Oplage van 500

                        <br>Geproduceerd en genummerd door <br>The Skateroom in 2019
                        <br>
                        <br>Onder licentie van The Andy <br>Warhol Foundation for the Visual Arts, Inc.
                        <br>
                        <br>Sunset Triptych set van 3 <br>skateboards
                        <br>
                        <br>Elk dek meet ca. 31x8in (80x20cm)
                        <br>
                        <br>Gemaakt van 7-laags Grade A <br>Canadees esdoornhout
                        <br>
                        <br>Top-print bevat de officiële Andy <br>Warhol brand logo
                        <br>
                        <br>1 Easyfix wall mount inbegrepen <br>per deck</p>
                </div>
                <div class="line1">
                    <div>
                        <img class="galerij" src="../img/Andy/Andy-Warhol-Sunset-Purple-2.jpg" alt="">
                        <img class="galerij" src="../img/Andy/warhol-sunset-purple-1300px-1000x1131.jpg" alt="">
                    </div>
                    <h3>€ 600</h3>
                    <img class="des1" src="../img/design/image4.png" alt="">
                </div>
            </div>
            <!-- product 3 -->
            <div>
                <div class="line1">
                    <div>
                        <img class="galerij" src="../img/Andy/warhol-coloredcampbells-boxset-1300px.jpg" alt="">
                        <img class="galerij" src="../img/Andy/skateroom_warhol_coloured_Campbells_can_01.jpg" alt="">
                    </div>
                    <h3>€ 1650</h3>
                    <img class="des1" src="../img/design/image4.png" alt="">
                </div>
                <div class="line2">
                    <img class="des2" src="../img/design/image4.png" alt="">
                    <div class="text">
                        <h3>CAMPBELL’S SOUP CANS - ANDY WARHOL</h3>
                        <p class="alinea1">In het begin van de jaren zestig creëerde Andy Warhol veel werken met consumentenproducten, Hollywood-sterren en een veelbesproken serie die dood en rampspoed in de Amerikaanse samenleving illustreert. 
                            <br>
                            <br>Als een van de meest erkende gezichten in de hedendaagse kunst, leek het voor ons vanzelfsprekend om te proberen de visie van Andy Warhol te bestendigen door onze productie. 
                            <br>
                            <br>Daarom hebben we onlangs samengewerkt met de Andy Warhol Foundation for the Visual Arts om een reeks van Andy's meest iconische werken te produceren.
                            <br>
                            <br>Onder licentie van The Andy Warhol Foundation for the Visual Arts, Inc. Elk skateboard deck kan afzonderlijk worden gekocht
                        </p>
                    </div>
                </div>
                <div class="line3">
                    <p class="alinea2">Oplage van 500

                        <br>Open Editie
                        <br>
                        <br>Geproduceerd door THE SKATEROOM in 2016
                        <br>
                        <br>Onder licentie van The Andy Warhol Foundation for the Visual Arts, Inc.
                        <br>
                        <br>Set van 8 skateboards van Campbell's Soup Cans
                        <br>
                        <br>Elk deck meet ca. 31x8in (80x20cm)
                        <br>
                        <br>Gemaakt van 7-laags Grade A Canadees esdoornhout
                        <br>
                        <br>Top-print bevat het officiële Andy Warhol merklogo
                        <br>
                        <br>1 Easyfix muurbevestiging inbegrepen per deck
                        <br>
                        <br>Elk skate deck meet ongeveer 31X8IN (80X20CM)
                    </p>
                </div>
            </div>
        </div>
        <!-- Jeff  -->
        <div class="info">
            <!-- product 1 -->
            <div class="product1">
                <div class="line1">
                    <div>
                        <img class="galerij" src="../img/Jeff/koons-balloonvenus-1300px.jpg" alt="">
                        <img class="galerij" src="../img/Jeff/balloon.png" alt="">
                    </div>
                    <h3>€ 700</h3>
                    <img class="des1" src="../img/design/image4.png" alt="">
                </div>
                <div class="line2">
                    <img class="des2" src="../img/design/image4.png" alt="">
                    <div class="text">
                        <h3>BALLOON VENUS SKATEBOARD, JEFF KOONS</h3>
                        <p class="alinea1">De internationaal erkende Amerikaanse kunstenaar Jeff Koons brengt een hommage aan de Venus van Willendorf in zijn Balloon Venus Skateboard. 
                            <br>
                            <br>In zijn Antiquity-serie bedacht Koons het oude kalkstenen beeldje opnieuw als een ballon.
                            <br>
                            <br>De venus is op een eigentijdse manier omgetoverd tot een grootschalig reflecterend roestvrijstalen beeldhouwwerk, maar opnieuw ontworpen voor vandaag.
                            <br>
                            <br>Hier zien we het stuk verschijnen op skateboards die als een tweeluik worden gepresenteerd.
                        </p>
                    </div>
                </div>
                <div class="line3">
                    <h2>Jeff Koons</h2>
                    <p class="alinea2">

                        <br>Limited Edition van 500 
                        <br>
                        <br>Geproduceerd en genummerd door The Skateroom in 2021 
                        <br>
                        <br>Certificate of Authenticity gesigneerd door The Skateroom.
                        <br>
                        <br>Set van 2 skate decks Skateboard deck meet ca. 
                        <br>
                        <br>31x8in (80x20cm)
                        <br>
                        <br>Gemaakt van 7-laags Grade A Canadees esdoornhout 
                        <br>
                        <br>Top-print inclusief bedrukte handtekening van Jeff Koons
                        <br>
                        <br>1 muurbevestiging inbegrepen per deck.
                    </p>
                </div>
            </div>
            <!-- product 2 -->
            <div>
                <div class="line2">
                    <div class="text">
                        <h3>Popeye, Jeff Koons</h3>
                        <p class="alinea1">een van de toonaangevende kunstenaars ter wereld, herinterpreteert een detail van zijn olieverfschilderij Triple Popeye uit 2008, een gelaagde en handgeschilderde compositie met de iconische stripfiguur Popeye.
                            <br>
                            <br>Hier zien we de fictieve zeeman die een blik spinazie vasthoudt, zijn levenskracht, en triomfantelijk poseert te midden van kleurrijke gebaren en een reflecterende zilveren lijntekening om een gevoel van beweging te geven. 
                            <br>
                            <br>Popeye Skateboard, 2021, gebruikt een drieluik van skateboards als canvas.
                            <br>
                            <br>"Popeye gaat over een beeld van: 
                            'Ik ben wat ik ben.' 
                            Een soort symbool van zelfacceptatie dat je moet omarmen wie je bent. 
                            Popeye heeft zijn spinazie. Spinazie brengt zijn transcendentie tot stand en brengt zijn kracht tot stand. Dat is wat kunst [is]. Kunst is onze spinazie." – JEFF KOONS
                        </p>
                    </div>
                </div>
                <div class="line3">
                    <p class="alinea2">

                        <br>Limited Edition van 500
                        <br>
                        <br>Geproduceerd en genummerd door The Skateroom in 2021
                        <br>
                        <br>ertificate of Authenticity gesigneerd door The Skateroom
                        <br>
                        <br>Popeye Triptych Set van 3 skateboards
                        <br>
                        <br>Skateboard deck meet ca. 31x8in (80x20cm)
                        <br>
                        <br>Gemaakt van 7-laags Grade A Canadees esdoornhout
                        <br>
                        <br>Top-print inclusief gedrukte handtekening van Jeff Koons
                        <br>
                        <br>1 Easyfix muurbevestiging inbegrepen per deck
                    </p>
                </div>
                <div class="line1">
                    <div>
                        <img class="galerij" src="../img/Jeff/koons-popeye-1300px.jpg" alt="">
                        <img class="galerij" src="../img/Jeff/popeye.png" alt="">
                    </div>
                    <h3>€ 950</h3>
                    <img class="des1" src="../img/design/image4.png" alt="">
                </div>
            </div>
        </div>
        <!-- Keith  -->
        <div class="info">
            <!-- product 1 -->
            <div class="product1">
                <div class="line1">
                    <div>
                        <img class="galerij" src="../img/Keith/TSR-KeithHaring-ManAndMedusa-InsituHD-2.jpg" alt="">
                        <img class="galerij" src="../img/Keith/haring-manandmedusa-1300px.jpg" alt="">
                    </div>
                    <h3>€ 700</h3>
                    <img class="des1" src="../img/design/image4.png" alt="">
                </div>
                <div class="line2">
                    <img class="des2" src="../img/design/image4.png" alt="">
                    <div class="text">
                        <h3>MAN AND MEDUSA, KEITH HARING</h3>
                        <p class="alinea1">Gedurende zijn carrière produceerde Keith Haring muurschilderingen, sculpturen en schilderijen ten behoeve van ziekenhuizen, groepen voor kansarme kinderen en verschillende gemeenschapsgezondheidsorganisaties. 
                            <br>
                            <br>Voor zijn dood richtte Keith Haring een stichting op in zijn naam om zijn nalatenschap van het geven aan organisaties voor kinderen en aids te behouden en te verbeteren. 
                            <br>
                            <br>De stichting zet zich ook in voor het ondersteunen en vergroten van het publieke bewustzijn van Keith Haring.
                        </p>
                    </div>
                </div>
                <div class="line3">
                    <h2>KEITH HARING</h2>
                    <p class="alinea2">

                        <br>Open Edition 
                        <br>
                        <br>Geproduceerd door The Skateroom in 2018 
                        <br>
                        <br>© Keith Haring Foundation. www.haring.com. 
                        <br>Licensed by Artestar, New York.
                        <br>
                        <br>Set van 4 skateboards
                        <br>
                        <br>Elk deck meet ca. 31x8in (80x20cm)
                        <br>
                        <br>Gemaakt van 7-laags Grade A Canadees esdoornhout 
                        <br>
                        <br>Top-print inclusief bedrukte handtekening van de kunstenaar 
                        <br>
                        <br>1 Easyfix muurbevestiging inbegrepen per deck
                    </p>
                </div>
            </div>
            <!-- product 2 -->
            <div>
                <div class="line2">
                    <div class="text">
                        <h3>MONSTERS, KEITH HARING</h3>
                        <p class="alinea1">Gedurende zijn carrière produceerde Keith Haring muurschilderingen, sculpturen en schilderijen ten behoeve van ziekenhuizen, groepen voor kansarme kinderen en verschillende gemeenschapsgezondheidsorganisaties. 
                            <br>
                            <br>Voor zijn dood richtte Keith Haring een stichting op in zijn naam om zijn nalatenschap van het geven aan organisaties voor kinderen en aids te behouden en te verbeteren. 
                            <br>
                            <br>De stichting zet zich ook in voor het ondersteunen en vergroten van het publieke bewustzijn van Keith Haring.
                        </p>
                    </div>
                </div>
                <div class="line3">
                    <p class="alinea2">

                        <br>Open Edition 
                        <br>
                        <br>Geproduceerd door The Skateroom in 2018 
                        <br>
                        <br>© Keith Haring Foundation. www.haring.com. 
                        <br>Licensed by Artestar, New York.
                        <br>
                        <br>Set van 4 skateboards
                        <br>
                        <br>Elk deck meet ca. 31x8in (80x20cm)
                        <br>
                        <br>Gemaakt van 7-laags Grade A Canadees esdoornhout 
                        <br>
                        <br>Top-print inclusief bedrukte handtekening van de kunstenaar 
                        <br>
                        <br>1 Easyfix muurbevestiging inbegrepen per deck
                    </p>
                </div>
                <div class="line1">
                    <div>
                        <img class="galerij" src="../img/Keith/Keith-Haring-Monsters-2.jpg" alt="">
                        <img class="galerij" src="../img/Keith/haring-monsters-1300px.jpg" alt="">
                    </div>
                    <h3>€ 950</h3>
                    <img class="des1" src="../img/design/image4.png" alt="">
                </div>
            </div>
        </div>
    </main>

   <!-- background design collection -->
   <div class="Background">
    <!-- background -->
    <img class="background" src="../img/Untitled-1.svg" alt="background">
    </div>
    
    <footer>
        <img class="footer_page" src="../img/footer_page-0001.png" alt="footer_page">
    </footer>
</body>
</html>